<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android FTP Backup | Backup</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/http_www.gstatic.com_charts_loader.js" %}"></script>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark fixed-top">
        <span class="navbar-brand mb-0 h2 mr-auto">Android FTP Backup</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Backup</a>
                </li>
                <li class="nav-item">
                    <!--suppress HtmlUnknownTarget -->
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="div-container">
    <div class="row">
        <div class="col-md-3">
            <h3>Backup Folders</h3>
            <div id="folder-list"></div>
        </div>
        <div class="col-md-9">
            <h3>Backup Now</h3>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="ftp-ip" id="label-ftp-ip">FTP IP</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <a href="#" class="fas fa-sync-alt fast-spin fa-cool" id='refresh-wifi-connections' title="Refresh Connections"></a>
                        </span>
                        </div>
                        <input type="text" class="form-control" id="ftp-ip" placeholder="Loading..." disabled>
                    </div>
                    <div class="invalid-feedback">
                        Please check if your device is connected to the same network.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="ftp-user" id="label-ftp-user">FTP Username</label>
                    <input type="text" class="form-control" placeholder="Loading..." id="ftp-user" disabled>
                </div>

                <div class="form-group col-md-3">
                    <label for="ftp-pass" id="label-ftp-pass">FTP Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Loading..." id="ftp-pass" disabled>
                        <div class="input-group-append">
                        <span class="input-group-text">
                            <a class="fas fa-eye-slash fa-cool" href='#' id="eye-style"></a>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-1">
                    <label for="ftp-port" id="label-ftp-port">FTP Port</label>
                    <input type="text" class="form-control" id="ftp-port" placeholder="Loading..." disabled>
                </div>

                <div class="form-group col-md-2">
                    <label for="ftp-test" id="label-ftp-test">Test Connection</label>
                    <button type="button" class="btn btn-success w-100" id="ftp-test" aria-roledescription="aria-test" style="cursor: pointer;">Test</button>
                    <small id="aria-test">Test now</small>
                    <div class="invalid-feedback">
                        Please check all fields and try again.
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div id="backup-div" class="col-md-6 w-50" hidden>
                    <label for="ftp-backup" id="label-ftp-backup">Backup</label>
                    <button type="button" class="btn btn-dark w-100" id="ftp-backup" style="cursor: pointer;">Backup now</button>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div id="run-code" hidden>
                <label for="text-streaming">Backup Progress</label>
                <textarea class="form-control btn-dark" id="text-streaming" disabled></textarea>
            </div>

        </div>
    </div>

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterTitle">Initiate Backup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure? This may take a while
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmationModalSave">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
        <div class="navbar-nav w-100 ai-b">
            <a href="https://www.facebook.com/sanket.revankar1" target="_blank"
               class="fab fa-facebook-f footer-link"></a>
            <a href="https://github.com/SanketRevankar" target="_blank" class="fab fa-github footer-link"></a>
            <a href="https://www.linkedin.com/in/sanketrevankar/" target="_blank"
               class="fab fa-linkedin-in footer-link"></a>
            <p class="navbar-nav nav-item ml-auto footer-link">
                {% if latest_backup %}
                    {{ latest_backup }}
                {% else %}
                    No backup available.
                {% endif %}
            </p>
        </div>
    </nav>
</footer>

</body>
</html>
<script src="{% static "js/http_code.jquery.com_jquery-3.4.1.js" %}"></script>
<script src="{% static "js/http_stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.js" %}"></script>
<script src="{% static "js/backup.js" %}"></script>
