<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android FTP Backup | Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/http_www.gstatic.com_charts_loader.js" %}"></script>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark fixed-top">
        <span class="navbar-brand mb-0 h2 mr-auto">Android FTP Backup</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!--suppress HtmlUnknownTarget -->
                    <a class="nav-link" href="backup">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="div-container">
    <div class="half-block">
        <i class="fas fa-folder-open top-info"></i>
        <button class="btn btn-primary" id="open-backup">Open Backup Folder</button>
        <i class="fas fa-hdd top-info" title="Disk Space Used"></i>
        <span class="badge badge-primary badge-top" id="total-size"></span>
        <div id="size-chart" class="google-chart"></div>
        <div id="count-chart" class="google-chart"></div>
    </div>
    <div class="half-block">
        <h2>Backup</h2>
        <div id="backup_dir" name=""></div>
    </div>
</div>

<footer>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
        <div class="navbar-nav w-100 ai-b">
            <a href="https://www.facebook.com/sanket.revankar1" target="_blank"
               class="fab fa-facebook-f footer-link"></a>
            <a href="https://github.com/SanketRevankar" target="_blank" class="fab fa-github footer-link"></a>
            <a href="https://www.linkedin.com/in/sanketrevankar/" target="_blank"
               class="fab fa-linkedin-in footer-link"></a>
            <p class="navbar-nav nav-item ml-auto footer-link">
                {% if latest_backup %}
                    {{ latest_backup }}
                {% else %}
                    No backup available.
                {% endif %}
            </p>
        </div>
    </nav>
</footer>

</body>
</html>
<script src="{% static "js/http_code.jquery.com_jquery-3.4.1.js" %}"></script>
<script src="{% static "js/http_stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>