<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android FTP Backup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data_size = google.visualization.arrayToDataTable({{ sizes|safe }});
            var data_count = google.visualization.arrayToDataTable({{ counts|safe }});
            var options_size = {
                title: 'Disk Space used in GB',
                fontName: "'Salsa', cursive",
                pieHole: 0.4,
            };
            var options_count = {
                title: 'Number of files',
                fontName: "'Salsa', cursive",
                pieHole: 0.4,
            };

            var chart_size = new google.visualization.PieChart(document.getElementById('size-chart'));
            var chart_count = new google.visualization.PieChart(document.getElementById('count-chart'));
            chart_size.draw(data_size, options_size);
            chart_count.draw(data_count, options_count);


        }
    </script>
</head>
<body style="font-family: 'Salsa', cursive;">
<header>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h2" href="#">Android FTP Backup</a>
    </nav>
</header>

<div style="margin: 2%;">
    <div style="width: 48%; display: inline-block; vertical-align: top;">
        <i class="fas fa-folder-open" style="margin-left: 12%; margin-right: 1%;"></i>
        <button class="btn btn-primary" style="vertical-align: baseline;" id="open-backup">Open Backup Folder</button>
        <i class="fas fa-hdd" style="margin-left: 5%; margin-right: 1%;"
            title="Disk Space Used"></i>
        <span class="badge badge-primary"
              style="padding: 1.5%;font-size: inherit;font-weight: inherit;">{{ total_size }} GB</span>
        <div id="size-chart" style="display: inline-block; height: 35vh; width: 45vw; margin-left: -5%;"></div>
        <div id="count-chart" style="display: inline-block; height: 35vh; width: 45vw; margin-left: -5%;"></div>
    </div>
    <div style="width: 48%; display: inline-block;">
        <h2 style="text-align: center;">Backup Files</h2>
        <div id="backup_dir" name=""></div>
    </div>
</div>

<footer>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">

        <ul class="navbar-nav" style="width: 100%;align-items: baseline;">
            <li href="#" class="fab fa-facebook-f" style="color: white; margin-right: 1%;"></li>
            <li href="#" class="fab fa-youtube" style="color: white;"></li>
            <li class="navbar-nav nav-item ml-auto" style="color: white;">
                {% if latest_backup %}
                    {{ latest_backup }}
                {% else %}
                    No backup available.
                {% endif %}
            </li>
        </ul>

    </nav>
</footer>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{##}
{#<script>#}
{#    $(document).ready(function() {#}
{#        window.history.pushState("", "", window.location.toString().split('?')[0]);#}
{#    });#}
{#</script>#}
<script>
    $("#open-backup").click(function () {
      $.ajax({
          url: 'ajax/open_backup/',
          data: {query:''},
      });
    });

    $(document).ready(function(){
        const query = $('#backup_dir').attr('name');

        $.ajax({
            url: "ajax/open_dir/",
            data:{query:query},
            success:function(data) {
                $('#backup_dir').html(data);
            }
        });

    });
</script>